@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

* {
    box-sizing:border-box;
    margin: 0
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #fefdfc;
}

/* Navigation bar */

nav {
    height: 50px;
    border: solid blue 1px;
    padding: 5px 0px;
    background: rgb(255, 242, 205);
}
nav ul {
    width: 100vw;
    display: block;
    list-style: none;
    float: right;
    line-height: 40px;
    top: -100%;
    position: absolute;
    background: rgb(255, 242, 205);;
    transition: 0.5s all;
    color: #161616;
    /* border: solid red 2px; */
}

nav ul li {
    width: 100%;
    text-align: center;
    display: block;
    margin: 0;
    font-weight: 500;
    line-height: 40px;
    cursor: pointer;
}

#productLogo {
    font-weight: 600;
    font-size: 25px;
    color: rgb(179, 41, 23);
    line-height: 50px;
    /* border: solid green 2px; */
    display: inline-block;
    /* margin-left: 20px; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#productLogo img {
    width: 25px;
}

.navButton {
    background:  rgb(179, 41, 23);
    color: white;
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 10px;

}

.verticalSeparator {
    height: 0px;
    width: 50px;
    border: solid rgb(167, 167, 167) 1px;
    margin: 0;
    display: none;
}

#flyoverContainer {
    position: absolute;
    display: none;
    z-index: 10;
    width: 400px;
    height: 500px;
    right: 100px;
    padding: 10px 15px;
    background: white;
    border-radius: 25px;
    border: solid rgb(214, 214, 214) 1px;
    box-shadow: 1px 1px 15px  rgb(121, 121, 121);
    animation: fadeIn 0.5s;
}

.flyoverEntry {
    font-size: 14px;
    margin: 10px 0;
    color:rgb(88, 88, 88);
    font-weight: 500;
}

.flyoverEntry h3 {
    margin: 5px 0;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: calc(100vh - 55px);
    border: solid red 1px;
}

.hamburgerLine {
    height: 2px;
    width: 25px;
    background: #646464;
    margin: 5px 0px;
    border: none;
    border-radius: 25px;
}

#hamburgerLabel{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    /* border: solid red 1px; */
    float: right;
    line-height: 50px;
    height: 50px;
    margin-right: 20px;
}
.hamburgerButton {
    padding: 2px 2px;
    cursor: pointer;
}

#navbarToggle:checked ~ ul{
    top: 50px;
    transition: 0.5s;
}

.hamburgerButton > div {
    transition: 0.5s all;
}

#navbarToggle:checked ~ label > div > .line1 {
    transform: rotate(45deg) translateY(10px);
    transition: 0.2s all;
}

#navbarToggle:checked ~ label > div > .line3 {
    transform: rotate(-45deg) translateY(-10px);
    transition: 0.2s all;
}

#navbarToggle:checked ~ label > div > .line2 {
    opacity: 0;
    transition: 0.2s all;
}
/* 


.line2 {
    
} */

/* for home page */

.home {
    background: url(../images/landing-page-bg.jpg);
}

/* Media queries */

@media only screen and (min-width: 900px) {
    nav ul {
        position: relative;
        top: 0%;
        width: fit-content;
    }
    
    nav ul li{
        display: inline-block;
        width: fit-content;
        margin: 0 10px;
    }

    #productLogo {
        left: 0%;
        transform: none;
        margin: 0 20px;
    }
    #hamburgerLabel {
        display: none;
        
    }
    .verticalSeparator {
        display: inline;
    }

    
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100;
    }

    100% {
        opacity: 0;
    }
}