#notesPageHeader {
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    justify-content: space-between;
}

.notesContainer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px 30px;
    position: relative;
    align-items: center;
    /* border: solid red 1px; */
    width: 100%;
}

.newNoteContainer {
    position: absolute;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    height: 80vh;
    border: solid rgb(228, 228, 228) 1px;
    border-radius: 5px;
    z-index: 5;
    box-shadow: 1px 1px 15px rgb(121, 121, 121);
    display: none;
    padding: 15px 15px;
    animation: 0.5s fadeIn
}

.newNoteContainer form {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    row-gap: 10px;
    height: 100%;
}

textarea {
    border: none;
    outline: none;
    font-size: 20px;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
   resize: none;
}

#noteTitle {
    font-weight: 600;
}

#noteContent {
  font-size: 16px;
  height: 60%;
}

.noteDismiss {
    position: absolute;
    top: 5px; 
    right: 5px;
    font-size: 10px;
    background: black;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userNote {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: justify;
    border: solid rgb(223, 223, 223) 1px;
    border-radius: 5px;
    padding: 10px 20px;
    background: #f1f1f1;
    margin: 10px 0;
    cursor: pointer;
    font-size: 10px;
}


.userNotesSection {
    margin-top: 20px;
    width: 90%;
}

.userNote h1{
    font-size: 20px;
}

/* Media queries */
@media only screen and (min-width: 900px) {
    #notesPageHeader {
        width: 100%;
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
    }
}