<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="icon" tyle="image" href="{{ url_for('static', filename='images/almond-logo.png') }}">
    <script src="{{ url_for('static', filename='scripts/index.js') }}" defer></script>
    {% block extraStyles %}{% endblock extraStyles%}
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    {% if ((request.path != '/auth/sign-up') and (request.path != '/auth/login')) %}
    <nav>
        <input type="checkbox" id="navbarToggle" style="display: none;">
        <label for="navbarToggle" id="hamburgerLabel">
            <div class="hamburgerButton">
                <div class="hamburgerLine line1"></div>
                <div class="hamburgerLine line2"></div>
                <div class="hamburgerLine line3"></div>
            </div>
        </label>
        <a href="/" style="text-decoration: none;">
            <div id="productLogo">
                <img alt="almond product logo" src="{{ url_for('static', filename='images/almond-logo.png') }}" />
                Almond
            </div>
        </a>
        <ul>
            <li>Features</li>
            <li>For Teams</li>
            <li onclick="showResourcesFlyover()">Resources</li>
            <li>Pricing</li>
            <li>
                <div class="verticalSeparator"></div>
            </li>
            <!-- Show the login and sign up options only if the user is not logged in -->
            {% if (user.is_authenticated) %}
                <li>
                    <div class="navUserInfo">
                        {{ user.username }}
                        <img id="userInfoArrow" width="20px" height="20px" src="{{ url_for('static', filename='/images/down-arrow.png') }}"/>
                    </div> 
                    <div class="userOptions">
                        <a href="/auth/logout">Logout</a>
                    </div>
                </li>
            {% else %}
                <li><a href="/auth/login">Log in</a></li>
                <li><a href="/auth/sign-up"><button class="navButton">Start for free</button></a></li>
            {% endif %}
        </ul>
        
        
    </nav>
    {% endif %}

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                <div class="flashedMessage error">
                    {{ message }}
                    <button class="messageDismissButton">x</button>
                </div>
                {% else %}
                <div class="flashedMessage success">
                    {{ message }}
                    <button class="messageDismissButton">x</button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock content %}
</body>

</html>