{% extends 'base.html' %}
{% block title %}Sign Up{% endblock title %}
{% block extraStyles %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/forms.css') }}">{% endblock extraStyles %}
{% block content %}

<div class="container">
    <a href="/" style="text-decoration: none;">
        
        <div id="productLogo">
            <img alt="almond product logo" src="{{ url_for('static', filename='images/almond-logo.png') }}" />
            Almond
        </div>
    </a>
    <h1>Sign Up</h1>
    <form class="formContainer" method="POST">
        <div class="formEntry">
           <label for="userEmail">Email address</label>
            <input type="text" name="userEmail" id="userEmail">
        </div>

        <div class="formEntry">
            <label for="userName">Full name</label>
             <input type="text" name="userName" id="userName">
         </div>

         <div class="formEntry">
            <label for="userPassword">Password</label>
             <input type="password" name="userPassword" id="userPassword">
         </div>

         <div class="formEntry">
            <label for="userPasswordConfirm">Confirm password</label>
             <input type="password" name="userPasswordConfirm" id="userPasswordConfim">
         </div>

         <button class="submitButton">Sign up</button>
    </form>
</div>
{% endblock content %}